# Использование доступных моделей
Данный ноутбук показывает базовый порядок работы с библиотекой.
- загрузка датасета
- деление на трейн и тест
- обучение модели
- сравнение с бейзлайном

Документацию можно собрать из папки `docs` командой `make html`. Она создаст папку `_build` с документацией -- `sponge-bob-magic/docs/_build/html/index.html`

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import os, sys

parent_dir = os.path.split(os.getcwd())[0]
if parent_dir not in sys.path:
    sys.path.append(parent_dir)

Целевая архитектура библиотеки - ЛД 3.0, поэтому используем Spark.
Для отладки моделей (не на кластере) создаём локальную сессию.

Объект `State` позволяет использовать одну и ту же сессию Spark в разных объектах.
Если сессия уже инициализированна, то её нужно передать при инициализации `State`. Модули библиотеки, которым необходимо использовать спарк-сессию, например для конвертации из пандас в спарк, будут искать сессию именно в `State`.

По умолчанию создастся дефолтная сессия. Простой способ получить сессию с заданным количеством выделенной памяти -- функция `get_spark_session` модуля `session_handler`.

In [3]:
from sponge_bob_magic.session_handler import State

spark = State().session
spark

## Подготовка данных <a name='data-preparator'></a>
Библиотека содержит утилиты для скачивания и парсинга популярных датасетов для рекомендаций.
Если датасет не найден в заданной директории, он будет автоматически скачан и обработан.

Данные датасета доступны в виде `pandas.DataFrame` атрибутов объекта.
Посмотреть доступные данные можно с помощью метода `info`.

In [4]:
from sponge_bob_magic.datasets import MovieLens

data = MovieLens("1m")
data.info()

ratings

   user_id  item_id  relevance  timestamp
0        1     1193          5  978300760
1        1      661          3  978302109
2        1      914          3  978301968

users

   user_id gender  age  occupation zip_code
0        1      F    1          10    48067
1        2      M   56          16    70072
2        3      M   25          15    55117

items

   item_id                    title                        genres
0        1         Toy Story (1995)   Animation|Children's|Comedy
1        2           Jumanji (1995)  Adventure|Children's|Fantasy
2        3  Grumpier Old Men (1995)                Comedy|Romance

Внутренний формат данных в либе -- спарк датафрейм. Сплиттеры умеют втоматически конвертировать пандас датафреймы, но модели сейчас ожидают именно спарк, причем с заданными обязательными колонками: `user_id, item_id, timestamp, relevance, context`. 

Получить данные в нужном формате можно с помощью `DataPreparator.transform_log`, который создаст нужные колонки, если их нет.

In [6]:
from sponge_bob_magic.data_preparator import DataPreparator

log = DataPreparator(spark).transform_log(
    log=data.ratings,
    columns_names={
        "user_id": "user_id",
        "item_id": "item_id",
        "relevance": "relevance",
        "timestamp": "timestamp"
    }
)

Библиотека содержит различные схемы валидации рекомендательных систем, встречающиеся в литературе.

`UserSplitter` отбирает для теста некоторое количество или долю объектов для каждого пользователя.

In [7]:
from sponge_bob_magic.splitters import UserSplitter

splitter = UserSplitter(
    drop_cold_items=True,
    drop_cold_users=True,
    item_test_size=1,
    user_test_size=500,
    seed=1234,
    shuffle=True
)
train, test_input, test = splitter.split(log)
(
    train.count(), 
    test_input.count(), 
    test.count()
)

(999703, 999703, 506)

## NMF
Простейший пример использования DL в рекомендациях

In [8]:
from sponge_bob_magic.models import NeuroMFRec

nmf = NeuroMFRec(
    learning_rate=0.01,
    epochs=10,
    embedding_dimension=100
)

In [9]:
%%time

nmf.fit(
    log=train,
    user_features=None,
    item_features=None
)

CPU times: user 15.2 s, sys: 2.58 s, total: 17.7 s
Wall time: 49.9 s

In [12]:
%%time

recs = nmf.predict(
    k=10,
    users=test.select('user_id').distinct(),
    items=test.select('item_id').distinct(),
    context='no_context',
    log=train,
    user_features=None,
    item_features=None,
    filter_seen_items=True
)

CPU times: user 1.46 s, sys: 176 ms, total: 1.64 s
Wall time: 30.9 s

В библиотеке реализованы различные метрики качества рекомендательных систем, встречающихся в литературе.
Их можно использовать напрямую, либо запоминать результаты с помощью класса `Experiment`.

In [13]:
from sponge_bob_magic.metrics import HitRate, NDCG
from sponge_bob_magic.experiment import Experiment

metrics = Experiment(test, {NDCG(): 10, 
                            HitRate(): 10})

metrics.add_result("NMF", recs)
metrics.df.loc["NMF"]

HitRate@10    0.031621
nDCG@10       0.016132
Name: NMF, dtype: float64

## ALS
Библиотека также содержит классические алгоритмы рекомендаций, например, матричную факторизацию

In [14]:
from sponge_bob_magic.models import ALSRec

als = ALSRec(rank=100)

In [15]:
%%time
als.fit(
    log=train,
    user_features=None,
    item_features=None
)

CPU times: user 112 ms, sys: 72 ms, total: 184 ms
Wall time: 33.1 s

In [16]:
%%time
recs = als.predict(
    k=10,
    users=test.select('user_id').distinct(),
    items=test.select('item_id').distinct(),
    context='no_context',
    log=train,
    user_features=None,
    item_features=None,
    filter_seen_items=True
)

CPU times: user 236 ms, sys: 84 ms, total: 320 ms
Wall time: 34.3 s

In [17]:
metrics.add_result("ALS", recs)
metrics.df.loc["ALS"]

HitRate@10    0.096838
nDCG@10       0.046206
Name: ALS, dtype: float64

## Своя модель
Для построения своей модели нужно использовать тот же самый split, что и для бейзлайнов

In [18]:
train.toPandas().to_csv("train.csv", index=False)

In [19]:
!head train.csv

user_id,item_id,relevance,timestamp,context
1090,318,5.0,2000-11-23 01:11:51,no_context
1090,150,3.0,2000-11-23 01:13:08,no_context
1090,2273,4.0,2000-11-23 01:33:35,no_context
1090,2688,1.0,2000-11-23 01:27:30,no_context
1090,2710,2.0,2000-11-23 01:25:44,no_context
1090,1287,4.0,2000-11-23 01:20:32,no_context
1090,1193,4.0,2000-11-23 01:03:10,no_context
1090,3095,3.0,2000-11-23 01:18:39,no_context
1090,47,4.0,2000-11-23 01:31:17,no_context

Здесь магия: можно взять train и обучить на нём свою любимую модель вне библиотеки

Также нужно выдать рекомендации обученной моделью

In [20]:
recs.toPandas().to_csv("recs.csv", index=False)

Теперь нужно прочитать рекомендации в формате, поддерживаемом библиотекой

In [22]:
recs = DataPreparator(spark).transform_log(
    path="recs.csv",
    columns_names={
        "user_id": "user_id",
        "item_id": "item_id",
        "relevance": "relevance"
    },
    header=True,
    format_type="csv"
)

и сравнить качество своей модели с бейзлайнамии

In [23]:
metrics.add_result("my_model", recs)
metrics.df

          HitRate@10   nDCG@10
NMF         0.031621  0.016132
ALS         0.096838  0.046206
my_model    0.096838  0.046206