In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from sponge_bob_magic.session_handler import State

spark = State().session
spark

In [3]:
from sponge_bob_magic.datasets import MovieLens

data = MovieLens("1m")
data.info()

ratings

   user_id  item_id  relevance  timestamp
0        1     1193          5  978300760
1        1      661          3  978302109
2        1      914          3  978301968

users

   user_id gender  age  occupation zip_code
0        1      F    1          10    48067
1        2      M   56          16    70072
2        3      M   25          15    55117

items

   item_id                    title                        genres
0        1         Toy Story (1995)   Animation|Children's|Comedy
1        2           Jumanji (1995)  Adventure|Children's|Fantasy
2        3  Grumpier Old Men (1995)                Comedy|Romance

In [4]:
from sponge_bob_magic.data_preparator import DataPreparator

log = DataPreparator().transform(
    data=data.ratings,
    columns_names={
        "user_id": "user_id",
        "item_id": "item_id",
        "relevance": "relevance",
        "timestamp": "timestamp"
    }
)

In [6]:
from sponge_bob_magic.scenarios.two_stages_scenario import TwoStagesScenario

scenario = TwoStagesScenario()

/Users/shminke-ba/projects/sponge-bob-magic/venv/lib/python3.7/site-packages/lightfm/_lightfm_fast.py:9: UserWarning:

LightFM was compiled without OpenMP support. Only a single thread will be used.

In [9]:
%%time
recs = scenario.get_recs(log, 10)

13-Apr-20 19:39:26, sponge_bob_magic, DEBUG: mixed_train stats: total lines: 994169, total users: 6040, total items: 3706

13-Apr-20 19:39:28, sponge_bob_magic, DEBUG: test stats: total lines: 6040, total users: 6040, total items: 1776

13-Apr-20 19:39:37, sponge_bob_magic, DEBUG: mixed_train stats: total lines: 598920, total users: 6040, total items: 3633

13-Apr-20 19:39:43, sponge_bob_magic, DEBUG: test stats: total lines: 395249, total users: 6040, total items: 3587

13-Apr-20 19:39:43, sponge_bob_magic, DEBUG: Предварительная стадия обучения (pre-fit)

13-Apr-20 19:39:46, sponge_bob_magic, DEBUG: Основная стадия обучения (fit)

13-Apr-20 19:39:46, sponge_bob_magic, DEBUG: Индексирование данных

13-Apr-20 19:39:46, sponge_bob_magic, DEBUG: Обучение модели

13-Apr-20 19:41:57, sponge_bob_magic, DEBUG: баланс классов: положительных 88372 из 604000

13-Apr-20 19:41:57, sponge_bob_magic, DEBUG: Предварительная стадия обучения (pre-fit)

13-Apr-20 19:42:09, sponge_bob_magic, DEBUG: Основная стадия обучения (fit)

13-Apr-20 19:42:56, sponge_bob_magic, INFO: ROC AUC модели второго уровня (как классификатора): 0.5915

CPU times: user 921 ms, sys: 218 ms, total: 1.14 s
Wall time: 6min 44s

In [10]:
scenario.experiment.pandas_df

                     HitRate@10
two_stages_scenario    0.008444